/**
 * Base
 */

img {
	max-width: 100%;
	height:auto;
}

body{
	font-size:100%;
	font-size:1.5em;
	font-family:'PT Sans';
	background: #FBFAF5;
	color:#828282;
}

h1, h2, h3 {
	font-family: 'Cubano';
	color:#222222;
}

a {
	color:#222222;
	text-decoration: none;
}