/**
 * Layout
 */

.site-header {
	padding:.5em;
}

.logo {
	float:left;
}

.nav--primary,
.nav__toggle{
	float:right;
}

.main{
	padding:.5em;
	margin:2em 0;
}

.main h2, .main h3, .post p {
	margin:0;
}

.post {
	margin:1em 0 2em 0;
}

.site-footer{
	min-height:10em;
	padding:5em 0;
}