/**
 * Layout
 */

.site-header {
	padding:.5em;
}

.logo {
	float:left;
}

.nav--primary,
.nav__toggle{
	float:right;
}

.main{
	padding:.5em;
	margin:2em 0;
}

@media all and(max-width:40em){
	.main{
		padding:1em;
		margin: .5em 0;
	}
}

.main h1, .main h2, .main h3, .post p {
	margin:0;
}

.main h1 {
	padding-bottom: .125em;
	margin-bottom: .75em;
}

.post {
	margin:3em 0 3em 0;
}

.site-footer{
	min-height:10em;
	padding:5em 0;
}