/**
 * Theme
 */

body {
	background-color: #fff;
	color:#34495e;
}

.main h2 a, .main h3 a {
	color:#000;
	text-decoration: none;
}

.site-header {
	background:#1ABC9C;
}
.site-header a {
	color:#fff;
	&:hover{
		background-color:#16A085;
	}
}

.nav--primary li,
.nav--primary li a {
	color:#fff;
}

@media all and (max-width:35em){
	.nav--primary li {
		border-top:1px solid #16A085;
	}
}
.site-footer{
	background:#ECEFF1;
}
