/**
 * Theme
 */

body {
	background-color: #fff;
	color:#34495e;
	color:lighten(#272727, 0%);
}

.main {
	background:#fff;
}

.main h2 a, .main h3 a {
	text-decoration: none;
}

h1, h2, h3,
h2 a {
	color:#272727;
}

h1,
h1 a{
	color:#272727;
	text-shadow:1px 1px 0px #fff,
				1px 2px 0px lighten(#272727, 60%);
}

h3 a, a {
	color:#272727;
	-webkit-transition:all .5s ease;
	&:hover{
		color:#16A085;
	}
}

a{
	text-decoration:underline;
	color:#16A085;
}


.site-header {
	background:#1ABC9C;
	background:#272727;
}
.site-header a {
	color:#fff;
	text-decoration: none;
	&:hover{
		background-color:#16A085;
	}
}

.date, .description {
	color:lighten(#272727, 50%);
	font-weight: 200; 
}

.site-footer {
	border-top: 1px solid lighten(#272727, 80%);
}

.site-header {
	border-bottom:5px solid #16A085;
}

h1 {
	border-bottom: 1px solid lighten(#272727, 80%);
}

.nav--primary li,
.nav--primary li a {
	color:#fff;
}

@media all and (max-width:35em){
	.nav--primary li {
		border-top:1px solid #16A085;
	}
}
