/**
 * Theme
 */

.main h2 a, .main h3 a {
	color:#000;
	text-decoration: none;
}

/* orange */
$orange:#FF6644;
$dark-orange:darken($orange, 20%);

.main a {
	color:$orange;
	text-decoration: underline;
	text-decoration-style: dotted;
}

.nav--primary li a {
	background: $orange;
	color:#fff;
	-webkit-transition:all .5s ease;
}

.nav--primary li a:hover {
	background: $dark-orange;
	
}
.post {
	border-left:5px solid #FF6644;
}
hr {
	border:none;
	background:rgba(#000, .1);
	height:1px;
}


.nav--primary li a:hover {
	color:#fff;
}

.main {
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(#000, .1);
}
