/**
 * Typography
 */  

@font-face {
  font-family: "Flat-UI-Icons-24";
  src: url("../fonts/Flat-UI-Icons-24.eot");
  src: url("../fonts/Flat-UI-Icons-24.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons-24.woff") format("woff"), url("../fonts/Flat-UI-Icons-24.ttf") format("truetype"), url("../fonts/Flat-UI-Icons-24.svg#Flat-UI-Icons-24") format("svg");
  font-weight: normal;
  font-style: normal; }

.nav__toggle:before {
  content: "\e006"; }
  .nav__toggle {
	font-family: "Flat-UI-Icons-24";
}

body{
	font-size:100%;
	font-size:1.5em;
	font-weight: 200;
	font-family: 'source-sans-pro';
}

@media all and (max-width:40em){
	body {
		font-size:1.25em;
	}
	p {
		font-size: .85em;
	}
	.site-header {
		font-size: 1.15em;
	}
}

h1, h2, h3 {
	line-height: 1;
	font-weight: 900;

}

h1{
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
	font-weight: 400;
}

h3{
	font-size: 1.25em;
}


.date {
	font-style: italic;
}

.errata{
	font-size:.429em;
	font-weight: 200;
	font-style:italic;
	letter-spacing: 1px;
}

.nav--primary,
.nav__toggle,
.date {
	font-size:.8em;
	font-weight: 200;
}

.logo {
	font-weight: 200;
	font-size:1.75em;
}

.site-footer {
	font-size:.5em;
	text-align: center;
}