/**
 * Typography
 */  

body{
	font-size:100%;
	font-size:1.5em;
	font-family:'PT Sans';
	font-weight: 400;
}

.date {
	font-style: italic;
}

.site-footer,
.nav--primary,
.date {
	font-size:.75em;
}